# [The 21 Best Spring Break Destinations in America Gallery](https://www.thedailymeal.com/travel/best-spring-break-destinations-in-america-gallery)

### Web Scraping

##### Imports

In [1]:
from bs4 import BeautifulSoup
import requests

##### URLs

In [12]:
url = "https://www.thedailymeal.com/travel/best-spring-break-destinations-in-america-gallery"

##### Requesting the Page

In [13]:
r = requests.get(url)

##### Get Text

In [14]:
t = r.text

##### Close the request

In [15]:
r.close()

##### Make BeautifulSoup

In [16]:
soup = BeautifulSoup(t)

##### What is Soup?

In [17]:
type(t)

str

In [18]:
str?

In [18]:
type(soup)

bs4.BeautifulSoup

In [127]:
BeautifulSoup?

##### Soup can `find` things

In [19]:
# find all hyperlinks
# 'a' stands for anchor tag, href stands for Hypertext REFrence
for link in soup.find_all(name='a', href=True):
    print(link['href'])

#main-content
/
https://www.facebook.com/TheDailyMeal
http://www.pinterest.com/thedailymeal/
https://twitter.com/thedailymeal
https://www.youtube.com/user/TheDailyMealVideo
http://instagram.com/thedailymeal
https://www.linkedin.com/company/the-daily-meal
http://thedailymeal.tumblr.com/
https://www.thedailymeal.com/rss.xml
/newsletter/subscriptions
/
/
/community
/ccn/culinary-content-network
/user
/cook
/cook
/cook/quick-easy
/cook/breakfast
/cook/special-occasions
/cook/cooking-ideas
/cook/daily-meals-guide-baking
/cook/chefs-cookbooks
/cook/seasonal
/cook/back-to-school
/cook/desserts
/cook/how-to-do-it
/cook/kitchen-tools
/cook/say-hello-to-summer
/cook/grilling-and-barbecue-essentials
/cook/ice-cream-time
/cook/cookies
/best-recipes
/best-recipes
/best-recipes/cake
/best-recipes/chicken
/best-recipes/crock-pot
/best-recipes/ground-beef
/best-recipes/healthy
/best-recipes/pasta
/best-recipes/pork-chop
/best-recipes/quinoa
/best-recipes/salad
/best-recipes/salmon
/best-recipes/soup
/best-recipes/vegetarian
/drink
/drink
/wine
/drink/cocktails
/drink/where-to-drink
/drink/beer
/drink/coffee-and-tea
/eat
/eat
/eat/restaurants
/eat/chefs-and-personalities
/casual-eats
/eat/sandwiches
/eat/products
/eat/food-for-thought
/healthy-eating
/healthy-eating
/healthy-eating/healthy-kitchen
/healthy-eating/swaps
/healthy-eating/mind-body
/healthy-eating/weight-loss
/entertain
/entertain
/entertain/etiquette
/entertain/weddings-and-wedding-cakes
/holiday/family
/entertain/hosting-tips
/entertain/setting-the-scene
/entertain/football
/entertain/celebrity-bites
/holidays
/holidays
/holiday/new-years
/valentines-day
/holiday/celebrate-st-patricks-day
/passover-lander
/holiday/celebrate-easter-with-the-daily-meal
/holiday/cinco-de-mayo
/holiday/graduation
/celebrate-mothers-day
/holiday/fathers-day
/celebrate-fourth-of-july
/holiday/halloween
/holiday/thanksgiving
/holiday/celebrating-hannukah
/christmas
/travel
/travel
/travel/trip-tips
/travel/culinary-vacations
/travel/global-cuisine
/travel/festivals-and-events
/video
/lists
/
/travel
/travel/trip-tips
https://www.thedailymeal.com/users/syjil-ashraf
https://www.thedailymeal.com/free-tagging-cuisine/climate-change
https://www.thedailymeal.com/free-tagging-cuisine/spring-break
https://www.thedailymeal.com/travel/12-accessible-international-spring-break-destinations
https://www.thedailymeal.com/travel/10-absolutely-wildest-party-destinations-spring-break
https://www.thedailymeal.com/travel/10-best-beaches-spring-break-getaway
https://www.thedailymeal.com/eat/best-fun-and-casual-restaurants-11-top-spring-break-destinations
https://www.thedailymeal.com/eat/dining-guide-caesars-atlantic-city-hotels
https://www.thedailymeal.com/bethany-beach-boardwalk
https://www.thedailymeal.com/travel/10-popular-american-beaches-where-you-can-actually-legally-drink-alcohol
https://www.thedailymeal.com/11-chic-and-affordable-beach-escapes
https://www.thedailymeal.com/worlds-30-most-glamorous-camping-destinations-for-food
https://www.thedailymeal.com/travel/ultimate-weekend-getaway-cape-cod
https://www.thedailymeal.com/travel/slideshow-prettiest-town-every-state
https://www.thedailymeal.com/eat/memorable-dining-hamptons-after-labor-day
https://www.thedailymeal.com/travel/hamptons-guide-best-bars-and-restaurants-slideshow
https://www.thedailymeal.com/travel/slideshow-10-absolutely-wildest-party-destinations-spring-break
http://www.thedailymeal.com/las-vegas-restaurant-guide
https://www.thedailymeal.com/travel/101-best-weekend-getaways-america-gallery-0/slide-72
https://www.thedailymeal.com/eat/america-s-25-best-fudge-shops-0/slide-10
https://www.thedailymeal.com/travel/fresh-taste-martha-s-vineyard
https://www.thedailymeal.com/travel/20000-orchids-bloom-miami-beach
https://www.thedailymeal.com/long-weekend-myrtle-beach
https://www.thedailymeal.com/travel/america-s-40-best-seafood-shacks-0/slide-30
https://www.thedailymeal.com/travel/how-do-napa-weekend-your-welcome
https://www.thedailymeal.com/napa-valleys-best-wineries-view
https://www.thedailymeal.com/travel/top-places-you-need-to-visit-2018-gallery
http://www.thedailymeal.com/travel/where-eat-spring-break-youve-got-eat-sometime-slideshow/slide-2
https://www.thedailymeal.com/point-pleasant-beach-boardwalk?venue_update=1
https://www.thedailymeal.com/californias-catalina-island-cozy-and-romantic-winter-destination
https://www.thedailymeal.com/travel/slideshow-10-absolutely-wildest-party-destinations-spring-break/slide-9
https://www.thedailymeal.com/travel/worlds-best-beaches-gallery
/free-tagging-cuisine/trip-tips
/free-tagging-cuisine/travel
/travel/12-reasons-cruises-are-best-choice-spring-break-vacation
/travel/12-reasons-cruises-are-best-choice-spring-break-vacation
/healthy-eating/30-quick-and-easy-recipes-use-spring-superfoods
/healthy-eating/30-quick-and-easy-recipes-use-spring-superfoods
/cook/how-spring-clean-your-kitchen-10-easy-steps
/cook/how-spring-clean-your-kitchen-10-easy-steps
/
/cook
/best-recipes
/drink
/eat
/healthy-eating
/entertain
/holidays
/travel
/community
/video
/lists
/about-us
/contact-us
/privacy-policy
/legal
http://www.aboutads.info/consumers/
/recipes-glossary
/newsletter/subscriptions
https://bestreviews.com/kitchen?utm_source=tdm&utm_medium=footer&utm_campaign=kitchen
https://www.facebook.com/TheDailyMeal
https://twitter.com/thedailymeal
https://plus.google.com/+Thedailymeal
http://www.pinterest.com/thedailymeal/
http://instagram.com/thedailymeal
https://www.thedailymeal.com/rss.xml
/
http://www.tribpub.com/
http://www.theactivetimes.com/

# Get the List of Vacation Spots

In [23]:
# soup.find returns the first child (see docs)
soup.find(name='h2')

In [24]:
# store the the result
result = soup.find(name='h2')

# display the type of the `result`
type(result)

bs4.element.Tag

In [25]:
# access the text in `result`
result.text

'The 21 Best Spring Break Destinations in America'

In [26]:
# find all locations in the html
soup.find_all(name='h2')

[<h2>The 21 Best Spring Break Destinations in America</h2>,
 <h2>Atlantic City</h2>,
 <h2>Bethany Beach, Del.</h2>,
 <h2>Cannon Beach, Ore.</h2>,
 <h2>Cape Cod</h2>,
 <h2>Cape May, N.J.</h2>,
 <h2>The Hamptons</h2>,
 <h2>Kennebunkport, Maine</h2>,
 <h2>Key West</h2>,
 <h2>Lake Geneva, Wis.</h2>,
 <h2>Las Vegas</h2>,
 <h2>Mackinac Island, Mich.</h2>,
 <h2>Martha’s Vineyard</h2>,
 <h2>Miami Beach</h2>,
 <h2>Myrtle Beach</h2>,
 <h2>Nantucket, Mass.</h2>,
 <h2>Napa Valley</h2>,
 <h2>New Orleans</h2>,
 <h2>Panama City Beach, Fla.</h2>,
 <h2>Point Pleasant Beach, N.J.</h2>,
 <h2>Santa Catalina Island, Calif.</h2>,
 <h2>South Padre Island, Texas</h2>,
 <h2 class="label-above block-title">More From The Daily Meal</h2>,
 <h2><a href="/travel/12-reasons-cruises-are-best-choice-spring-break-vacation">12 Reasons Cruises Are the Best Choice for Spring Break Vacation</a></h2>,
 <h2><a href="/healthy-eating/30-quick-and-easy-recipes-use-spring-superfoods">30 Quick and Easy Recipes That Use Spring Superfoods</a></h2>,
 <h2><a href="/cook/how-spring-clean-your-kitchen-10-easy-steps">How to Spring-Clean Your Kitchen in 10 Easy Steps</a></h2>,
 <h2 class="block-title">
 <span>Footer Navigation</span>
 </h2>,
 <h2 class="block-title">
 <span>About Navigation</span>
 </h2>]

In [27]:
# store all results
results = soup.find_all(name='h2')

In [28]:
# display the type of `results`
type(results)

bs4.element.ResultSet

In [29]:
# print the text for each result in `results`
for result in results:
    print(result.text)

The 21 Best Spring Break Destinations in America
Atlantic City
Bethany Beach, Del.
Cannon Beach, Ore.
Cape Cod
Cape May, N.J.
The Hamptons
Kennebunkport, Maine
Key West
Lake Geneva, Wis.
Las Vegas
Mackinac Island, Mich.
Martha’s Vineyard
Miami Beach
Myrtle Beach
Nantucket, Mass.
Napa Valley
New Orleans
Panama City Beach, Fla.
Point Pleasant Beach, N.J.
Santa Catalina Island, Calif.
South Padre Island, Texas
More From The Daily Meal
12 Reasons Cruises Are the Best Choice for Spring Break Vacation
30 Quick and Easy Recipes That Use Spring Superfoods
How to Spring-Clean Your Kitchen in 10 Easy Steps

Footer Navigation


About Navigation

In [ ]:
# make a list of the result.text's
# define result_texts as an empty list
result_texts = []
# loop through the results...
for result in results:
    # and append them to the result_texts list
    result_texts.append(result.text)

# show result_texts
result_texts

In [ ]:
# print the location names without the index
for location in result_texts:
    print(location[3:])

In [ ]:
# problem: What if I had a list of 10 locations?
# I wouldn't be able to use my logic above because it would keep an extra space in front of the name.
# use `split` to remove the index
for location in result_texts:
    print(location.split()[1:])

In [ ]:
# store the location names without indices in a new list
no_index = []
for location in result_texts:
    no_index.append(location.split()[1:])

# show `no_index`
no_index

In [ ]:
# `no_index` is a list of lists
# want to join the strings in each list together to get a list of strings
for l in no_index:
    print(''.join(l))

In [ ]:
# it worked, but the join didn't put a space between the words
# try it again, but include a space
for l in no_index:
    print(' '.join(l))

In [ ]:
# much better
# let's save these locations in another list
locations = []
for l in no_index:
    locations.append(' '.join(l))

# show locations
locations

In [ ]:
# check the `len`gth of locations (should == 8)
len(locations)

In [ ]:
# that seemed like a lot of work just to extract the names from our results...
# well here's a one-liner
[' '.join(i.text.split()[1:]) for i in soup.find_all(name='strong')]

This bit of code is called [list comprehension](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions). It's very handy and is often faster than standard for-loops (when n is large).

In [ ]:
%%timeit -n 1000
result_texts = []
for i in soup.find_all(name='strong'):
    result_texts.append(' '.join(i.text.split()[1:]))

In [ ]:
%%timeit -n 1000
[' '.join(i.text.split()[1:]) for i in soup.find_all(name='strong')]

As a precautionary side-note, don't use list comprehension if you don't understand it or the loop is too complex. You can get unexpected results, especially when attempting multiple loops.

# Get Information on the Locations

### Wikipedia

In [ ]:
# wikipedia url
wiki_url = "https://en.wikipedia.org/wiki/"

In [ ]:
# loop through the locations
for l in locations:
    # add the wiki url to the location name and replace spaces with underscores
    print(f"{wiki_url}{l.replace(' ', '_')}")

In [ ]:
from time import sleep

In [ ]:
# scrape each page and store in a dictionary
# define empty dictionary
location_wiki = {}
# loop through the locations...
for l in locations:
    # request the page from wikipedia
    r = requests.get(f"{wiki_url}{l}")
    # make the soup
    soup = BeautifulSoup(r.text)
    # close the request
    r.close()
    # store the soup in the dictionary
    location_wiki[l] = soup
    # wait 2 seconds before scraping again (this respects the robots.txt... and keeps us from getting blocked by wikipedia)
    sleep(2)

# Data Frames

In [ ]:
import pandas as pd

In [ ]:
# now that we've scraped the wiki pages, let's store some information in a dataframe using `pandas`
# we know `location_wiki` is a dict
type(location_wiki)

In [ ]:
# so let's use pandas' DataFrame attribute `from_dict` and orient our keys so that they are the index instead of columns
df = pd.DataFrame.from_dict(location_wiki, orient='index')

In [ ]:
# take a peek at df
df.head()

In [ ]:
# we have an index with the names of our locations...
df.index

In [ ]:
# and we have 3 columns
df.columns

In [ ]:
# describe our columns
df.describe(include='all') # the `include` parameter allows us to choose what kinds of data types to include
# `describe` only includes numeric columns by default

In [ ]:
# you can see that columns 0 and 2 have only one unique value ('html' for 0, and an empty string for 2)
# let's drop these two columns and save over df using `inplace`
df.drop(columns=[
    0,
    2
], inplace=True)

In [ ]:
# let's see what df looks like now
df.head()

In [ ]:
# while we only have one column in df, the name of the column isn't very informative. Let's rename it and save over df
df.rename(columns={
    1 : 'scraped'
}, inplace=True)

In [ ]:
# check if the column name changed
df.columns

In [ ]:
# to begin disecting our scraped data, it would be nice to know how to look at one row
# there are multiple ways to do this, but the best practice is to use label or integer indexing
# label indexing uses the `.loc` property
df.loc['Cancun']

In [ ]:
# integer indexing uses the `.iloc` property
df.iloc[0]

In [ ]:
# you can get a list of rows by giving the property a list of the indices
df.loc[[
    'Cancun',
    'Bahamas'
]]

In [ ]:
# you can also give the property a "slice"
df.iloc[2:4]

In [ ]:
# notice that only 2 rows were returned (the second and third)
# This is becasue the slice is inclusive of the left, and exclusive of the right
# If you want to start from an index and include everything after, you can leave of the right bound
df.iloc[2:]

In [ ]:
# you can also index on columns
# if you want all rows and a specific column you use the colon (:) for the rows, then a comma to begin indexing on columns
# remember that the colon is used for "slicing"
df.loc[:, 'scraped']

In [ ]:
# when you index on one column, a `series` is returned, which is just data analysis jargon for column
type(df.loc[:, 'scraped'])

In [ ]:
# now we've figured out how to slice our data, let's look at one row and disect the html in the 'scraped' column
cancun_scraped = df.loc['Cancun', 'scraped']

In [ ]:
# check the type of the value
type(cancun_scraped)

In [ ]:
# the value is soup!
# this means we it has attributes that we can use to extract values from the html
# looking at the webpage for this index, we can see that there is a Table of Contents (toc), find it in the html/store it
cancun_scraped_toc = cancun_scraped.find(name='div', attrs={
    'id' : 'toc',
    'class' : 'toc'
})

In [ ]:
# we've got the toc, but how do we get the values?
# notice in the html the values "ul" and "li"
# "ul" means "unordered list" and "li" means "list item"
# we need the whole "ul" and each "li" in it
# to get to the "ul" quickly, we can actually use dot-notation to access it, `find_all` the "li" in it, store it
cancun_scraped_toc_ul = cancun_scraped_toc.ul.find_all(name='li')

In [ ]:
# look at the first "li" in the "ul"
cancun_scraped_toc_ul[0]

In [ ]:
# this "li" has a few bits of information
# but we're only interested in the Table of Contents Text (toctext)
# extract it for this "li", then look at the text
cancun_scraped_toc_ul[0].find(name='span', attrs={
    'class' : 'toctext'
}).text

In [ ]:
# the goal here is to do this for every "li"
# let's test it on our current "ul"
for li in cancun_scraped_toc_ul:
    print(li.find(name='span', attrs={
        'class' : 'toctext'
    }).text)

In [ ]:
# it worked
# to do this for all our rows we can `apply` our current work flow to df
# start by `find`ing the "toc" and saving the returned html as a new column, "table_of_contents"
df['table_of_contents'] = df.scraped.apply(lambda x : x.find(name='div', attrs={
    'id' : 'toc',
    'class' : 'toc'
}))

In [ ]:
# let's look at our new column
df.table_of_contents

In [ ]:
# notice that value in the "South Padre Island" row is None
# this should mean that the wiki page for South Padre Island has not Table of Contents
# let's check and make sure that's true... it is
# if you were to search "South Padre Island, Texas" you get a Table of Contents, but that's not what we searched
# let's continue applying our workflow to our new `table_of_contents` column
df.table_of_contents.apply(lambda x : x.ul.find_all(name='li'))

In [ ]:
# trying to look for "ul" returns an AttributeError
# this is because "South Padre Island" doesn't have the attribute "ul" (because it doesn't have a "toc")
# to get around this we can `.dropna` from "table_of_contents" before applying our function
# do this, then store the results in a new column "toc_ul_li"
df['toc_ul_li'] = df.table_of_contents.dropna().apply(lambda x : x.ul.find_all(name='li'))

In [ ]:
# take a look at the column
df.toc_ul_li

In [ ]:
# note that we now have lists for values in our toc_ul_li column
# to apply our function on each item in the list we'll need to use list comprehension
# also, don't forget to `.dropna` else risk an error
# when you've figured it out, store as "toc_text"
df['toc_text'] = df.toc_ul_li.dropna().apply(lambda x : [li.find(name='span', attrs={
    'class' : 'toctext'
}).text for li in x])

In [ ]:
# look at the column "toc_text"
df.toc_text

In [ ]:
# we still have lists as our values... but at least they are lists of text and not html
# before we continue any further let's drop some columns that we don't need anymore
# first, list the columns
df.columns

In [ ]:
# 'scraped' contains all the html for each row; it should be kept
# 'table_of_contents' contains the original html for the toc; it can be dropped
# 'toc_ul_li' contains a list of the html for each item in the toc; it can be dropped
# 'toc_text' is what we were trying to get to; it should be kept and probably renamed to 'toc
# drop the columns
df.drop(columns=[
    'table_of_contents',
    'toc_ul_li'
], inplace=True)

In [ ]:
# rename 'toc_text' to 'toc'
df.rename(columns={
    'toc_text' : 'toc'
}, inplace=True)

In [ ]:
# let's look at what df looks like now
df.head()

In [ ]:
# nice and clean
# let's get some general information about each row from our toc column, like how many items are in each
# to do this we'll look at the toc column only, and then find the `len`gth of the list in each row
df.toc.str.len()

In [ ]:
# all the toc's lengths look different
# let's visualize this in a bar graph

%matplotlib inline

df.toc.str.len().plot.bar();

In [ ]:
# the bar plot makes it easy to compare the toc lengths amongst the locations
# however, it's still hard to see the ascending/descending length order
# let's sort the values and then graph again
df.toc.str.len().sort_values().plot.bar();

In [ ]:
# notice that "South Padre Island" is at the far right rather than the left
# this is because the value is `NaN` rather than 0. If it was 0 then it would be on the far left
# suppose you wanted to graph the values in descending order rather than ascending
# `.sort_values` accepts the parameter `ascending` where the default value is `True`
# switch it to `False` and watch the graph reverse
df.toc.str.len().sort_values(ascending=False).plot.bar();

In [ ]:
# notice that "South Padre Island" was placed on the far right again
# `.sort_values` does this by default with the parameter `na_position` which is set to "last" by default
# suppose we want a row for each toc item with respect to location
# to do this we can apply the function `pd.Series` to the column and watch the values explode into columns
df.toc.apply(pd.Series)

In [ ]:
# store this as toc_explode so we can work with it separate from df
toc_explode = df.toc.apply(pd.Series)

In [ ]:
# check out the columns
toc_explode.columns

In [ ]:
# there are 56 of them (range between 0 and 56, inclusive)
# looking at the bar plot (or table) above we can see the Dominican Republic has 57 items in its toc
# since it is the largest, that was the number of columns made
# if a location doesn't have that many, it fills in as many columns as it can with its values, and NaN for the rest
# the issue with this is we want rows, not columns
# we also want to keep our locations in the index
# to do this manipulation we'll have to `melt` our dataframe
toc_explode.melt()

In [ ]:
# simply performing the `melt` causes us to lose information (*hint, hint, the index*)
# to keep the index, we'll reset it to a column first
toc_explode.reset_index(inplace=True)

In [ ]:
# look at what we did
toc_explode.head()

In [ ]:
# now let's perform the melt and use the parameter `id_vars`
toc_explode.melt(id_vars='index')

In [ ]:
# setting the "index" column to `id_vars` allows it to remain a column
# we can also use the parameter `value_name` to name the column full of table of contents values
# store the result as `toc_melt`
toc_melt = toc_explode.melt(id_vars='index', value_name='toc_values')

In [ ]:
# let's see what it looks like
toc_melt.head()

In [ ]:
# we don't need the column "variable"; drop it
toc_melt.drop(columns='variable', inplace=True)

In [ ]:
# check it out again
toc_melt.head()

In [ ]:
# now we need to return the column "index" to our index
toc_melt.set_index('index', inplace=True)

In [ ]:
# look at it
toc_melt.head()

In [ ]:
# rememeber the index of our original df has no name, but our current one does ("index")
# rename the index name as an empty string
toc_melt.index.name = ''

In [ ]:
# look at what happened
toc_melt.head()

In [ ]:
# good
# if you look at more of the dataframe you can see NaN values
toc_melt

In [ ]:
# these came from instances where the location index didn't have that many columns
# they don't give us any information beyond that so we can drop them
toc_melt.dropna(inplace=True)

In [ ]:
# look at the dataframe now
toc_melt

In [ ]:
# join the melted data back with our original df and store
df = df.join(toc_melt)

In [ ]:
# look what happened
df.head()

In [ ]:
# we still have the "toc" column, but we don't really need it anymore because we have the "toc_values" column
# let's drop the "toc" column
df.drop(columns='toc', inplace=True)

In [ ]:
# since we dropped the "toc" column we have to find a new way to count the number of "toc_values"
# to do these we just need to `groupby` our index and `count` our "toc_values"
df.groupby(level=0).toc_values.count()

In [ ]:
# voila!
# we get the same results, and we can graph it the same way too
df.groupby(level=0).toc_values.count().sort_values().plot.bar();

In [ ]:
# the cool thing about extracting the toc_values is that we can now use the column values independently
# for example, let's group on the "toc_values" column and count the number of locations that share them
# we know that each location has exactly one unique scraped value, so we'll use it as our column for aggregation
df.groupby('toc_values').scraped.count()

In [ ]:
# a quick look at the top few rows and we can see 3 locations share the toc_value of "Administrative Divisions"
# lets `sort_values` in descending and see what else is shared
df.groupby('toc_values').scraped.count().sort_values(ascending=False)

In [ ]:
# some interesting stuff here
# we can go even deeper by grouping on our share counts and then counting the number of toc_values in each
df.groupby('toc_values').scraped.count().reset_index().groupby('scraped').toc_values.count()

In [ ]:
# this table shows us that there are 147 toc_values that belong to exactly one location, 14 that belong to two, etc.
# let's graph this and add some labels so we know what's going on
# create the graph, add a `title` parameter, store as `ax`
ax = df.groupby('toc_values').scraped.count().reset_index().groupby('scraped').toc_values.count().plot.bar(title='toc_values shared by locations')
# set the x-label
ax.set_xlabel('number of locations')
# set the y-label
ax.set_ylabel('number of toc_values');

In [ ]:
# let's see which 4 toc_values belong to 7 locations
df.groupby('toc_values').scraped.count().where(lambda x : x == 7).dropna()

In [ ]:
# it's important to note that there is more than one way to do things in python
# but according to the "Zen of Python":
# 'There should be one-- and preferably only one --obvious way to do it.
# Although that way may not be obvious at first unless you're Dutch.'
import this

In [ ]:
# now I'm not Dutch
# so for a long time my go to solution for finding the toc_values shared amongst 7 locations would have been the following
test = df.groupby('toc_values').scraped.count()
test.loc[test == 7]

In [ ]:
# obviously this solution works, but the downsides are:
# 1) I had to define a new variable which sucks up memory
# 2) defining a new variable is pointless if all you're going to do is filter it to see something
# hence the `.where` method is a much better solution
# getting back to the toc_values, a couple of these aren't much use to us right now ("External Links", "See also")
# "Education" and "History" sound intersting, and since 7/8 of the locations share it, we can probably make columns for them
# let's limits our "scraped" to just the Bahamas and find the "education" section
bahamas_scraped = df.loc['Bahamas', 'scraped'].unique()[0]

In [ ]:
# looking at the html we can see that the "Education" section is marked by 'span' with attributes 'class' and 'id'
bahamas_scraped_education_span = bahamas_scraped.find(name='span', attrs={
    'class' : 'mw-headline',
    'id' : 'Education'
})

In [ ]:
# https://stackoverflow.com/questions/42450743/extracting-the-text-between-two-header-tags-using-beautifulsoup-in-python

# what I want to do is pull all of the tags after the "Education" header, but before the next header
# to do this we will reference the 'span' tag,
# take a step back to its parent (<h2>),
# then use the method `.nextSiblingGenerator` to run through the siblings until we see another <h2> tag
# store the results in a list
# define the empty list...
education = []
# loop through the parent siblings...
for i in bahamas_scraped_education_span.parent.nextSiblingGenerator():
    # check the sibling name isn't "h2"...
    if i.name == 'h2':
        break
    # append the sibling...
    else:
        education.append(i)

In [ ]:
# let's look at our education list
education

In [ ]:
# see the 3 '\n' in our list?
# we don't want those as they don't provide any information
# to this we can check to see what their type is compared to the other items in our list
[type(i) for i in education]

In [ ]:
# the '\n' have type `bs4.element.NavigableString` and the other items have type `bs4.element.Tag`
# to keep the NavigableStrings from getting in our list we can filter them out with an `if` statement
# but first we need to import `element` from `bs4`
from bs4 import element

In [ ]:
education = []
for i in bahamas_scraped_education_span.parent.nextSiblingGenerator():
    if i.name == 'h2':
        break
    else:
        # filter out the `NavigableString`
        if type(i) != element.NavigableString:
            education.append(i)

In [ ]:
# look at our list now
education

In [ ]:
# perfect! let's repeat this for all other locations and store the results in an "education_html" series
education_html = df.scraped.drop_duplicates().apply(lambda x : x.find(name='span', attrs={
    'class' : 'mw-headline',
    'id' : 'Education'
}))

In [ ]:
# check for nulls
education_html.isnull().any()

In [ ]:
# since there are nulls, we will have to remember to dropna later
# something else to note is that we cannot use a `break` inside a list-comprehension
# there are methods for getting around this while still doing a "one-liner", but they are beyond the scope of this tutorial
# this means we will have to define our own function and then apply it to our series
# inside our function we will place our for-loop code almost as-is
def education(x):
    education = []
    for i in x.parent.nextSiblingGenerator():
        if i.name == 'h2':
            break
        else:
            if type(i) != element.NavigableString:
                education.append(i)
    return education

In [ ]:
# there are two ways to apply our function
# the first way is to use a lambda expression like we've been doing
education_html.dropna().apply(lambda x : education(x))

In [ ]:
# the second way is just to apply the function
education_html.dropna().apply(education)

In [ ]:
# the reason the second way works is because when you are applying a function,
# lambda is only needed when you want to do several things to the `x`
# if you are doing just one thing (i.e. applying one function), you can use the function as the only parameter
# let's convert our series `to_frame` and name it "education", then join it to `df`
df = df.join(education_html.dropna().apply(education).to_frame(name='education'))

In [ ]:
# since we now have an education column we can remove the rows in our "toc_values" where it says "Education"
df = df.loc[df.toc_values != 'Education'].copy()

In [ ]:
# exercise: repeat the above tasks for "History"
df = df.join(df.scraped.drop_duplicates().apply(lambda x : x.find(name='span', attrs={
    'class' : 'mw-headline',
    'id' : 'History'
})).dropna().apply(education).to_frame(name='history')).loc[df.toc_values != 'History'].copy()

In [ ]:
# look at df
df.head()

In [ ]:
# now that we have two new columns, we can analyze them
# let's see how many tags are in the education column with respect to location
df.groupby(level=0).education.apply(lambda x : x.str.len()).drop_duplicates()

In [ ]:
# let's also look at how many tags are in the history column
df.groupby(level=0).history.apply(lambda x : x.str.len()).drop_duplicates()

In [ ]:
# let's do them at the same time
df.groupby(level=0)[[
    'education',
    'history'
]].transform(lambda x : x.str.len()).drop_duplicates()

In [ ]:
# notice that we used the method `transform` rather than `apply`
# if we had used apply we would have received an AttributeError
# this is because the apply function is mean for series
# what we have created before the transform is a `groupby` object, and the transform returns a dataframe
# now let's plot our results
df.groupby(level=0)[[
    'education',
    'history'
]].transform(lambda x : x.str.len()).drop_duplicates().plot.bar(figsize=(10,6));

In [ ]:
df.melt()

In [ ]:
# it's clear that the Dominican Republic has more tags in the "History" section of the wiki
# but Miami has the more tags in the "Education" section
# let's dig a little further and see what kinds of tags are in each section starting with the "education" column
df.education.dropna().apply(lambda x : [i.name for i in x]).apply(pd.Series).drop_duplicates().reset_index().melt(id_vars='index', value_name='education_tags').drop(columns='variable').rename(columns={
    'index' : ''
}).set_index('').dropna().groupby(level=0).education_tags.agg([
    'count',
    pd.Series.nunique
])